input,
select,
textarea,
button,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    font-size: 16px;
}

body {
    background-color: #eee;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* wrapper */
.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
}

/* section */
.section {
    width: 100%;
    margin-bottom: 10px;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: bold;
}

.inner-section {
    display: flex;
    flex-direction: row;
}

.inner-section.is-column {
    flex-direction: column;
}

.inner-section.is-wrapped {
    flex-wrap: wrap;
}

/* input buttons */
.input-button {
    display: inline-block;
    padding: 5px 10px;
    /* border: 1px solid #000; */
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: capitalize
}

.input-button.dark {
    background-color: #ddd;
}

.input-button.dark:hover {
    background-color: #eee;
}

.input-button:last-child {
    margin: 0;
}

.input-button:hover {
    background-color: #ddd;
}

.input-button.primary {
    background-color: #2ECC71;
    color: #fff;
}

.input-button.primary:hover {
    background-color: #0dc05b;
}

/* text and textarea inputs */
.input-text, .input-textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.input-text:focus, .input-textarea:focus {
    border: 1px solid gray;
}

/* size checkboxes */
.size-checkbox-wrapper {
    display: flex;
    min-width: 110px;
}

.size-label-wrapper {
    display: flex;
}

.size-input-checkbox {
    margin-right: 5px;
}

.size-label-wrapper {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* preview link wrapper */
.preview-link-wrapper {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.preview-link-wrapper:hover .name-buttons-wrapper{
    background-color: #eee;
}

.close-preview-button {
    display: none;
}

/* link name */

.link-name-checkbox {
    margin-right: 10px;
}

.name-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name-buttons-wrapper.active {
    background-color: #eee;
}

/* preview buttons */
.single-preview-buttons {
    pointer-events: none;
    opacity: 0;
}

.preview-link-wrapper:hover .single-preview-buttons {
    pointer-events: all;
    opacity: 1;
}

/* copy link elements */
#copy-textarea-wrapper {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#copy-link-section {
    margin: 0;
}

#copy-textarea-wrapper {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    background-color: #9f9f9f;
    border-radius: 10px;
}

#copy-link-text {
    color: #fff;
}

#copy-link-textarea {
    opacity: 0;
    pointer-events: none;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}

/* creative preview wrapper */
.creative-preview-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    background-color: #FFF;
}

.creative-iframe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

.creative-iframe {
    border: none;
}

.replay-creative-button {
    text-align: center;
    margin: 10px 0 0 0 !important;
}

/* test elements */
#form-wrapper {
    margin-bottom: 10px;
}

#link-wrapper {
    background-color: #FFF;
}

#preview-wrapper {
    margin-top: 100px;
}

#overlay-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    justify-content: start;
}